In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

In [ ]:
df=pd.read_csv('churn.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
df.drop('CustomerId',axis='columns',inplace=True)

In [ ]:
df.drop('RowNumber',axis='columns',inplace=True)

In [ ]:
for column in df:
  print(f'{column}: {df[column].unique()}')

Surname: ['Hargrave' 'Hill' 'Onio' ... 'Kashiwagi' 'Aldridge' 'Burbidge']
CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [ ]:
df1=pd.get_dummies(data=df,columns=['Geography'])

In [ ]:
df1.drop('Surname',axis='columns',inplace=True)

In [ ]:
df1.dtypes

CreditScore            int64
Gender                object
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [ ]:
df1.replace({'Female':0,'Male':1},inplace=True)

In [ ]:
for column in df1:
  print(f'{column}: {df1[column].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Gender: [0 1]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]
Geography_France: [1 0]
Geography_Germany: [0 1]
Geography_Spain: [0 1]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
cols=['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']
df1[cols]=scaler.fit_transform(df[cols])

In [ ]:
from sklearn.model_selection import train_test_split
x=df1.drop('Exited',axis='columns')
y=df1['Exited']
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=5)

In [ ]:
model=keras.Sequential([
    keras.layers.Dense(20,input_shape=(12,),activation='relu'),
    keras.layers.Dense(1,input_shape=(12,),activation='sigmoid')
])
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [ ]:
model.fit(xtrain,ytrain,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7485
Epoch 2/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4788 - accuracy: 0.7960
Epoch 3/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4640 - accuracy: 0.7984
Epoch 4/50
250/250 [==============================] - 1s 6ms/step - loss: 0.4540 - accuracy: 0.8051
Epoch 5/50
250/250 [==============================] - 1s 5ms/step - loss: 0.4452 - accuracy: 0.8073
Epoch 6/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4382 - accuracy: 0.8106
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.8145
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4250 - accuracy: 0.8154
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4207 - accuracy: 0.8179
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4161 - accuracy: 0.8196
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4122 - accuracy: 0.8215
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4073 - accuracy: 0.8227
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8256
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3991 - accuracy: 0.8288
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3946 - accuracy: 0.8271
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3897 - accuracy: 0.8322
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3855 - accuracy: 0.8356
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8388
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3767 - accuracy: 0.8400
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3729 - accuracy: 0.8414
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8455
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3671 - accuracy: 0.8455
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3647 - accuracy: 0.8454
Epoch 24/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3619 - accuracy: 0.8485
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8476
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.8522
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8512
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8522
Epoch 29/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3536 - accuracy: 0.8545
Epoch 30/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3530 - accuracy: 0.8543
Epoch 31/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3512 - accuracy: 0.8528
Epoch 32/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3499 - accuracy: 0.8559
Epoch 33/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8570
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8546
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8551
Epoch 36/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8570
Epoch 37/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8559
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3462 - accuracy: 0.8577
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8568
Epoch 40/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8571
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8571
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8569
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8585
Epoch 44/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8580
Epoch 45/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8587
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8585
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8589
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8618
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8586
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8609

In [ ]:
predicted=model.predict(xtest)

63/63 [==============================] - 0s 1ms/step

In [ ]:
predicted[:15]

array([[0.03191666],
       [0.0891967 ],
       [0.06753404],
       [0.08172459],
       [0.06444497],
       [0.1559509 ],
       [0.01497793],
       [0.3366256 ],
       [0.014297  ],
       [0.91117024],
       [0.02242048],
       [0.06042137],
       [0.06817146],
       [0.56660336],
       [0.02635898]], dtype=float32)

In [ ]:
ytest[:15]

7054    0
442     0
3954    0
2288    0
3196    0
6178    0
8351    0
5658    1
2065    0
413     1
8594    0
1805    0
3631    0
837     0
9322    0
Name: Exited, dtype: int64

In [ ]:
y_pred = []
for element in predicted:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [ ]:
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1595
           1       0.75      0.39      0.51       405

    accuracy                           0.85      2000
   macro avg       0.80      0.68      0.71      2000
weighted avg       0.84      0.85      0.83      2000